page-login-register {
    ion-card-header {
        background-color: rgb(164, 250, 4);
        border-radius: 10px;
    }    
    .cardError {
        background-color: rgb(245, 92, 4);
        border-radius: 10px;
      }
    .cardSucess{
        background-color: rgba(187, 255, 0, 0.37);
        border-radius: 10px;
    }  
    .cardInfo{
        background-color: rgb(252, 248, 9);
        border-radius: 10px;        
    }
}
