page-transfer {
    ion-card-header {
        background-color: rgb(152, 174, 243);
        border-radius: 10px;
    }    
    .cardError {
        background-color: rgba(231, 145, 15, 0.897);
        border-radius: 10px;
      }
    .cardSucess{
        background-color: rgba(187, 255, 0, 0.37);
        border-radius: 10px;
    }  
    .cardinfo{
        background-color: rgba(252, 248, 9, 0.555);
        border-radius: 10px;        
    }
}
