<ion-header>
  <ion-navbar color="primary">
    <ion-title>transfer</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-icon name="ios-barcode-outline" item-start></ion-icon>
    <ion-input type="text" placeholder="Pallet Number" [(ngModel)]="scannedCode"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="ios-cube-outline" item-start></ion-icon>
    <ion-input type="text" placeholder="Storage Location" [(ngModel)]="token"></ion-input>
  </ion-item>
  <br>
  <button ion-button full icon-left (click)="scanCode()" color="secondary" style="height: 40px;">
    <ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
    <br>
<!-- Message type : {{ ex_return. MESSAGE_TYPE }} -->
<br>
result : {{ result }}
<br>
errmsg: {{ errmsg }}
<br>
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      <br> Material : {{ scannedCode }}
      <!-- <br> Description : {{ scannedCode }} -->
      <!-- <br> Dimension : {{ scannedCode }} -->
      <!-- <br> Sales Order : {{ scannedCode }} -->
    </ion-card-content>
  </ion-card>
  <ion-grid *ngIf="scannedCode">
    <ion-row justify-content-around>
      <ion-col align-self-center>
        <ion-row padding-top>
          <ion-col>
            <button (click)="getPallet()" ion-button outline block large round style="height: 40px;">Post</button>
          </ion-col>
          <ion-col>
            <button (click)="ClearData()" ion-button outline block large round style="height: 40px;">Clear</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>