<ion-header>
  <ion-navbar color="primary">
    <ion-title>Transfer Pallet</ion-title>
    <ion-buttons end *ngIf="_client" >
      <button ion-button text-only>
        Client : {{_client}}
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-icon name="ios-barcode-outline" item-start></ion-icon>
    <ion-input type="text" placeholder="Pallet Number" [(ngModel)]="scannedCode"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="ios-cube-outline" item-start></ion-icon>
    <ion-select placeholder="Storage Location" [(ngModel)]="storageloc" multiple="false">
      <ion-option [value]="FA01">FA01</ion-option>
      <ion-option [value]="FB01">FB01</ion-option>
      <ion-option [value]="FC01">FC01</ion-option>
      <ion-option [value]="FD01">FD01</ion-option>
      <ion-option [value]="FG01">FG01</ion-option>
    </ion-select>
  </ion-item>
  <br>
  <button ion-button full icon-left (click)="scanCode()" color="secondary" style="height: 40px;">
    <ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
  <br>
  <div *ngIf="_response == true">
    <ion-card class="cardInfo" no-padding>
      <ion-card-content>
        Message Type  : {{ _vreturn.MESSAGE_TYPE }}
        <br>Message : {{ _vreturn.MESSAGE }} 
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row justify-content-around>
        <ion-col align-self-center>
          <ion-row padding-top>
            <ion-col>
              <button [disabled]="_response==false" (click)="ClearData()" ion-button outline block large round style="height: 40px;">Clear</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>      
  </div>   
  <div *ngIf="_status==true">
    <ion-card class="cardError" no-padding>
      <ion-card-content>
        <br>Message Type  : 'E'
        <br>Message : {{ errmsg }}              
      </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row justify-content-around>
          <ion-col align-self-center>
            <ion-row padding-top>
              <ion-col>
                <button [disabled]="_status==false" (click)="ClearData()" ion-button outline block large round style="height: 40px;">Clear</button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>    
  </div>
  <div *ngIf="_status==false">
      <ion-card class="cardSucess" no-padding>
      <ion-card-content padding-top>
        [ Plant : {{ _vpallet.PLANT }} ] [ Zone : {{ _vpallet.ZONE1 }} ] [ SLoc : {{ _vpallet.TO_SLOC }} ]
        <br> Material : {{ _vpallet.MATERIAL }} : {{ _vpallet.MAKTX }} 
        <!-- <br> Dimension : {{ _vpallet.GROES }} -->
        <br> Sales Order : {{ _vpallet.SALES_ORD }} / {{_vpallet.POSNR}}
        <br> Customer : {{_vpallet.KUNNR}} {{_vpallet.FULLN}}
        <br> Weight : [ M{{_vpallet.W_MAT}} : S{{_vpallet.W_SO}} : P{{_vpallet.W_PP}} ] {{_vpallet.C_UNIT}} 
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row justify-content-around>
        <ion-col align-self-center>
          <ion-row padding-top>
            <ion-col>
              <button [disabled]="_status==true" (click)="PostData()" ion-button outline block large round style="height: 40px;">Post</button>
            </ion-col>
            <ion-col>
              <button [disabled]="_status==true" (click)="ClearData()" ion-button outline block large round style="height: 40px;">Clear</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>